.SideBer
  .SideBer__header 
    .TopItems
      .TopItems__name masa
      .TopItems__icon
      = link_to "#", class: "TopItems--edit" do
        = icon( 'fas','edit', class: "TopItems__btn")
      = link_to "#", class: "TopItems--cog" do
        = icon('fas', 'cog', class: "TopItems__btn") 
  .SideBer__group
    .SideBer__groupList
      .SideBer__groupName techcamp
      .SideBer__groupMessage まだメッセージがありません
    .SideBer__groupList
      .SideBer__groupName techcamp
      .SideBer__groupMessage まだメッセージがありません
  